@charset "utf-8";

$color-primary: #0d2f35;
$color-primary-dark: #000D16;
$color-primary-dark5: #002228;
$color-primary-light5: #192730;
$color-primary-light10: #27494F;
$color-primary-light15: #33555B;

$color-accent: #c9ba9d;

$color-text: #FFFFFF;

$theme-body-style: 'Roboto', sans-serif;

$content-width: 940px;