@charset "utf-8";

$color-primary: #2a2b2e;
$color-primary-dark: #1a1b1e;
$color-primary-dark5: #1a1b1e;
$color-primary-light5: #37383B;
$color-primary-light10: #444548;
$color-primary-light15: #505154;

$color-accent-2: #0d2f35;
$color-accent-2-light10: #27494F;

$color-accent-light: #E3D4B6;
$color-accent: #c9ba9d;
$color-accent-dark: #B0A183;

$color-text: #FFFFFF;

$theme-body-style: 'Roboto', sans-serif;

$content-width: 940px;